body {
    background-color: #202020;
    font-family: 'VT323', monospace;
}

h1 {
    color: #ffffff;
    font-size: 40px;
}

h2 {
    color: #ba68c8;
    font-size: 20px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    font-size: 20px;
    color: #ffffff;
}

p {
    font-size: 20px;
    color: #ffffff;
}
